.advantages {
  padding: 70px 0;
  background: #E8E8E8; }
  .advantages .title {
    text-align: center;
    margin: 0 auto;
    max-width: 940px;
    margin-bottom: 70px; }
  .advantages ul.advantages__list {
    margin: 0 auto;
    max-width: 1130px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .advantages ul.advantages__list .advantages__item {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      max-width: 190px; }
      .advantages ul.advantages__list .advantages__item .advantages__item-img {
        filter: drop-shadow(0px 0px 67px rgba(255, 255, 255, 0.64));
        height: 120px;
        width: 120px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 35px; }
      .advantages ul.advantages__list .advantages__item .title-card {
        margin-bottom: 16px; }
      .advantages ul.advantages__list .advantages__item hr {
        background: white;
        margin-bottom: 16px;
        width: 70px;
        height: 2px;
        border: none; }
      .advantages ul.advantages__list .advantages__item .advantages__item-descriptions {
        font-size: 14px;
        font-family: "roboto regular";
        line-height: 16px;
        color: rgba(0, 0, 0, 0.7); }

@keyframes circle {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes transformScale15 {
  70% {
    opacity: 0; }
  100% {
    transform: scale(2); } }

@keyframes transformScale13 {
  85% {
    opacity: 0; }
  100% {
    transform: scale(1.7); } }

@keyframes transformScale11 {
  100% {
    transform: scale(1.3); } }

@keyframes cofeAnimation {
  0% {
    transform: rotate(0); }
  72% {
    transform: rotate(0deg); }
  76% {
    transform: rotate(5deg); }
  80% {
    transform: rotate(-3deg); }
  84% {
    transform: rotate(5deg); }
  88% {
    transform: rotate(-3deg); }
  92% {
    transform: rotate(0); }
  100% {
    transform: rotate(0); } }

.best-time {
  padding-top: 110px;
  position: relative;
  padding-bottom: 100px;
  margin-bottom: 150px; }
  .best-time ul.cards__list {
    list-style: none;
    max-width: 1100px;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    margin-bottom: 77px; }
    .best-time ul.cards__list .best-time__card {
      height: 414px;
      padding: 36px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 331px;
      background: linear-gradient(174.26deg, #FFFFFF -34.92%, rgba(255, 255, 255, 0) 96.78%), #C4C4C4;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 20px;
      box-sizing: border-box; }
      .best-time ul.cards__list .best-time__card .best-time__card-img {
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 99px;
        width: 99px;
        margin-bottom: 57px; }
      .best-time ul.cards__list .best-time__card .best-time__card-title {
        margin-bottom: 44px;
        color: black;
        font-family: 'roboto bold';
        font-size: 18px;
        line-height: 21px; }
      .best-time ul.cards__list .best-time__card .best-time__card-description {
        font-size: 18px;
        color: black;
        font-family: 'roboto regular';
        line-height: 21px; }
    .best-time ul.cards__list .glass-blur__bg {
      background: linear-gradient(270.29deg, #FFFFFF -41.11%, rgba(255, 255, 255, 0) 33.6%), linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
      border: 1px solid rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
      backdrop-filter: blur(100px);
      border-radius: 20px; }
  .best-time .title {
    margin-bottom: 180px;
    text-align: right; }
    .best-time .title span {
      color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black; }
  .best-time .best-time-bg-element {
    height: 721px;
    width: 700px;
    background: url("../src/imgs/big bg image lamp best-time.jpg");
    position: absolute;
    background-size: cover;
    background-position: center;
    right: 0;
    top: 335px;
    border-radius: 20px 0 0 20px;
    z-index: -1; }
  .best-time .motivation {
    display: flex;
    justify-content: flex-start;
    flex-direction: column; }
    .best-time .motivation .description-block {
      max-width: 560px;
      margin-bottom: 29px;
      opacity: 0.7; }

.concept {
  margin-top: 300px;
  margin-bottom: 100px; }
  .concept .concept-img {
    background: url("../src/imgs/conceptImg.png");
    width: 100%;
    height: 353px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 35px; }
  .concept .container .description-block {
    max-width: 700px;
    margin-bottom: 50px; }
  .concept .marker-block:after {
    content: '';
    height: 280px;
    width: 280px;
    background: url("../src/imgs/markerConcept.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(77%, 16px); }
  .concept .marker-block {
    position: relative;
    width: 65%;
    background: black;
    height: 9px; }

.conditions {
  position: relative;
  margin-bottom: 220px; }
  .conditions .title {
    text-align: center;
    margin-bottom: 15px; }
  .conditions .conditions__content {
    display: flex;
    justify-content: center;
    align-items: center; }
    .conditions .conditions__content .conditions__list-ul {
      list-style: none; }
      .conditions .conditions__content .conditions__list-ul .conditions__item:last-child {
        margin-bottom: 0; }
      .conditions .conditions__content .conditions__list-ul .conditions__item {
        font-size: 22px;
        max-width: 483px;
        font-family: 'roboto regular';
        color: black;
        margin-bottom: 11px; }
      .conditions .conditions__content .conditions__list-ul .conditions__item.bold {
        font-family: 'roboto bold'; }

.bg-element:nth-child(3) {
  top: 330px;
  right: -80px; }

.bg-element {
  position: absolute; }

.bg-elements {
  position: absolute; }
  .bg-elements .cofe {
    width: 200px;
    height: 200px;
    top: -150px;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; }
    .bg-elements .cofe .promo-circles {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .bg-elements .cofe img {
      position: absolute;
      top: 50%;
      left: 30%;
      animation: cofeAnimation 4s infinite; }

.promo-circles {
  position: absolute;
  height: 100%;
  width: 100%; }
  .promo-circles .promo-circles__item {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 315px;
    width: 315px;
    border-radius: 50%;
    position: absolute;
    border: 1px black solid;
    animation: circle 4s infinite; }
  .promo-circles .promo-circles__item:nth-child(3) {
    transform: scale(0.6);
    animation: circle 4s infinite, transformScale11 4s infinite; }
  .promo-circles .promo-circles__item:nth-child(2) {
    transform: scale(0.8);
    animation: circle 4s infinite, transformScale13 4s infinite; }
  .promo-circles .promo-circles__item:nth-child(1) {
    animation: circle 4s infinite, transformScale15 4s infinite;
    transform: scale(1); }

.contacts {
  margin-bottom: 75px; }
  .contacts .title {
    text-align: center; }
  .contacts .contacts__body {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 35px; }
    .contacts .contacts__body ul.contacts__ul {
      list-style: none;
      width: 100%;
      justify-content: space-between; }
      .contacts .contacts__body ul.contacts__ul li:last-child {
        margin-bottom: 0; }
      .contacts .contacts__body ul.contacts__ul li {
        font-size: 18px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: "roboto regular";
        color: black;
        text-align: right; }
        .contacts .contacts__body ul.contacts__ul li span {
          margin-bottom: 11px;
          font-size: 26px;
          font-family: "roboto bold";
          text-align: left; }
  .contacts hr {
    max-width: 60%;
    margin: 0 auto; }

.btn__get-doc:hover {
  background: black;
  color: white;
  box-shadow: none; }

.btn__get-doc {
  padding: 30px 47px;
  background: white;
  border-radius: 12px;
  text-transform: uppercase;
  color: black;
  max-height: 75px;
  max-width: 303px;
  font-family: 'roboto regular';
  font-size: 16px;
  border: none;
  border: 1px solid black; }

.btn__get-doc-shadow {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  border: none; }

input.input {
  max-width: 500px;
  width: 100%;
  padding: 15px 17px;
  font-size: 16px;
  color: black;
  border-radius: 12px;
  border: 1px #D2D2D7 solid;
  margin-bottom: 40px;
  outline-color: #64361e; }

.title {
  color: black;
  font-size: 70px;
  line-height: 69px;
  text-transform: uppercase;
  font-family: 'roboto bold';
  margin-bottom: 50px; }

.subtitle {
  color: black;
  font-size: 36px;
  line-height: 43px;
  font-family: 'roboto regular'; }

.description-block {
  color: black;
  font-size: 18px;
  line-height: 21px;
  font-family: 'roboto regular'; }

.title-card {
  font-size: 20px;
  color: black;
  font-family: "roboto bold";
  line-height: 23px;
  text-transform: uppercase; }

.link {
  width: 100%;
  display: flex;
  justify-content: flex-end; }
  .link a:hover {
    opacity: 0.6; }
  .link a {
    color: black;
    font-size: 18px;
    line-height: 21px;
    font-family: 'roboto regular'; }

.feedback {
  margin-bottom: 100px; }
  .feedback .title {
    font-size: 36px;
    font-family: "roboto regular";
    margin-bottom: -10px;
    text-align: center; }
  .feedback .subtitle {
    font-size: 16px;
    opacity: 0.5;
    line-height: 19px;
    text-align: center;
    margin-bottom: 28px; }
  .feedback .feedback-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    align-items: center; }

.five-steps {
  position: relative;
  margin-bottom: 230px; }
  .five-steps .title {
    text-align: center; }
  .five-steps .description-block {
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid black;
    width: 230px;
    background: white; }
    .five-steps .description-block .arrow-group {
      margin-bottom: 40px; }
    .five-steps .description-block .description, .five-steps .description-block .title-card {
      max-width: 163px;
      text-transform: uppercase;
      opacity: 0.7; }
    .five-steps .description-block .title-card {
      margin-bottom: 33px;
      max-width: 163px;
      color: black;
      opacity: 1; }
    .five-steps .description-block .title-card {
      line-height: 100%;
      max-width: 186px; }
    .five-steps .description-block .description {
      font-size: 18px;
      font-family: "roboto regular"; }
  .five-steps .steps {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
  .five-steps .five-steps__body {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto; }
    .five-steps .five-steps__body .steps__ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      .five-steps .five-steps__body .steps__ul li:last-child {
        margin-bottom: 0; }
      .five-steps .five-steps__body .steps__ul li:first-child {
        position: relative; }
      .five-steps .five-steps__body .steps__ul li:first-child:after {
        content: '';
        right: 0;
        top: 40px;
        height: 338px;
        width: 187px;
        background: url("../src/imgs/arrowToSendDoc5step.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute; }
      .five-steps .five-steps__body .steps__ul li {
        color: black;
        font-size: 22px;
        font-family: "roboto regular";
        text-align: left;
        margin-bottom: 20px;
        max-width: 465px; }
        .five-steps .five-steps__body .steps__ul li span {
          font-family: "roboto bold"; }
      .five-steps .five-steps__body .steps__ul .step__last {
        color: #259B31;
        font-family: "roboto bold"; }
  .five-steps .marker {
    position: absolute; }
  .five-steps .marker1 {
    z-index: -1;
    left: 0%;
    bottom: -25%;
    transform: translate(32.3333px, 219.1px); }
  .five-steps .marker2 {
    z-index: -1;
    right: 20%;
    bottom: -25%;
    top: 38px;
    filter: blur(2px);
    transform: translate(32.3333px, 219.1px); }

@font-face {
  font-family: 'roboto regular';
  src: url("../src/fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'roboto bold';
  src: url("../src/fonts/Roboto-Bold.ttf"); }

navbar ul.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 50px 0; }
  navbar ul.menu a:hover {
    opacity: 0.4; }
  navbar ul.menu .menu__item, navbar ul.menu a {
    font-family: 'roboto regular';
    color: black;
    font-size: 18px;
    text-decoration: none; }

header .bgfb {
  height: 100vh;
  top: 0;
  width: 100%;
  content: '';
  background: url("../src/imgs/bgfb.jpg");
  position: absolute;
  background-position-y: -100px;
  top: 0;
  z-index: -2;
  background-size: cover; }

.first-block {
  position: relative; }
  .first-block .text-part {
    max-width: 50%;
    min-width: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column; }
    .first-block .text-part .title {
      margin-top: 40px; }
    .first-block .text-part .subtitle {
      margin-bottom: 42px; }
  .first-block .hand {
    position: absolute;
    right: 30px;
    top: -50px;
    z-index: -1; }

.first-block:after {
  background: url("../src/imgs/between blocksFB.png");
  content: '';
  width: 100%;
  background-size: cover;
  bottom: -525px;
  height: 510px;
  position: absolute;
  z-index: -1; }

.mobile-burger__icon {
  display: none;
  transform: scale(-1, 1);
  margin-right: 0;
  margin-left: auto;
  padding: 20px 0; }

.in-every-instagram .title {
  margin-bottom: 126px; }

.in-every-instagram .subtitle {
  max-width: 700px;
  text-align: right;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 100px; }

.in-every-instagram span {
  color: #F2B1C1; }

.in-every-instagram #slider-inst {
  max-width: 1200px;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 50px; }

.in-every-instagram .slider-item {
  width: 280px;
  padding-bottom: 25px;
  outline: none; }
  .in-every-instagram .slider-item .slider-item__amount-likes {
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.07);
    padding: 4px;
    display: inline-block;
    font-family: "roboto regular";
    font-size: 14px;
    background: white; }
  .in-every-instagram .slider-item .block-wrapper:hover .slider-item__hover-block {
    opacity: 1;
    cursor: pointer; }
  .in-every-instagram .slider-item .block-wrapper {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
    position: relative; }
    .in-every-instagram .slider-item .block-wrapper .slider-item__hover-block {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0; }
      .in-every-instagram .slider-item .block-wrapper .slider-item__hover-block a {
        outline: none; }
      .in-every-instagram .slider-item .block-wrapper .slider-item__hover-block img {
        z-index: 10; }
      .in-every-instagram .slider-item .block-wrapper .slider-item__hover-block img:hover {
        opacity: 0.7;
        transform: scale(0.9); }
  .in-every-instagram .slider-item .slider-item__photo {
    margin-bottom: 13px;
    height: 227px;
    width: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .in-every-instagram .slider-item .photo6 {
    background: url("../src/imgs/photo slider/6.png"); }
  .in-every-instagram .slider-item .photo5 {
    background: url("../src/imgs/photo slider/5.png"); }
  .in-every-instagram .slider-item .photo4 {
    background: url("../src/imgs/photo slider/4.png"); }
  .in-every-instagram .slider-item .photo3 {
    background: url("../src/imgs/photo slider/3.png"); }
  .in-every-instagram .slider-item .photo2 {
    background: url("../src/imgs/photo slider/2.png"); }
  .in-every-instagram .slider-item .photo1 {
    background: url("../src/imgs/photo slider/1.jpg"); }

.in-every-instagram .info-block {
  max-width: 550px;
  text-align: right;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 12px;
  font-family: 'roboto regular';
  font-size: 18px;
  color: black; }

.in-every-instagram {
  position: relative;
  margin-bottom: 270px; }
  .in-every-instagram .slick-arrow:hover {
    background: url("../src/imgs/photo slider/arrowHover.png"); }
  .in-every-instagram .slick-arrow {
    z-index: 10; }
  .in-every-instagram .slick-next:before {
    content: ''; }
  .in-every-instagram .slick-next {
    height: 49px;
    width: 30px;
    background: url("../src/imgs/photo slider/arrowNextSlider.png");
    background-size: cover;
    background-repeat: no-repeat;
    content: ''; }
  .in-every-instagram .slick-prev:before {
    content: ''; }
  .in-every-instagram .slick-prev {
    height: 49px;
    width: 30px;
    background: url("../src/imgs/photo slider/arrowNextSlider.png");
    transform: rotate(180deg);
    background-size: cover;
    background-repeat: no-repeat;
    content: ''; }
  .in-every-instagram .insta-red-bg__white-heart-center {
    position: absolute;
    height: 733px;
    width: 703px;
    background: url("../src/imgs/instaBigImg.png");
    background-size: cover;
    top: 280px;
    left: -80px;
    background-position: center;
    border-radius: 0 20px 20px 0;
    z-index: -1; }

* {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1299px;
  margin: 0 auto; }

body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: unset; }

.xIcon {
  display: none; }

.greyBlock {
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  content: '';
  background: black;
  position: fixed;
  z-index: 100;
  top: 0; }

.hide {
  display: none !important; }

@media all and (max-width: 1440px) {
  .best-time {
    padding-top: 50px;
    margin-bottom: 150px;
    padding-bottom: 20px; }
  .in-every-instagram #slider-inst {
    width: 95%;
    margin: 0 auto; }
  .concept {
    margin-top: 0; }
  header .bgfb {
    height: 190vh;
    min-height: 1500px; }
  .first-block .hand {
    right: 00px;
    right: -400px; }
  .container {
    padding: 0 20px; }
  header {
    overflow: hidden;
    padding-bottom: 200px;
    position: relative; }
  .best-time ul.cards__list .best-time__card {
    width: 300px; }
  #trademark > div > div.trademark-content > div.diplomas > div.bg__block {
    width: 66%; }
  .trademark-content .diplomas .diplomas__body img {
    width: 100%; } }

@media all and (max-width: 1024px) {
  .feedback .title {
    margin-bottom: 20px; }
  .conditions .conditions__content {
    flex-direction: column; }
    .conditions .conditions__content div:nth-child(1) {
      order: 1; }
  .five-steps .marker1 {
    display: none; }
  .five-steps {
    margin-top: 300px;
    margin-bottom: 100px; }
  .five-steps .description-block {
    margin-right: 10px; }
  #trademark > div > div.trademark-content > div.diplomas > div.bg__block {
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0px);
    width: 100%;
    top: 0; }
  .trademark .trademark-content {
    flex-wrap: wrap; }
  .best-time {
    padding-top: 50px;
    margin-bottom: 100px;
    padding-bottom: 20px; }
  .first-block .hand {
    display: none; }
  .in-every-instagram .info-block, .in-every-instagram .subtitle {
    background: white; }
  .in-every-instagram .title {
    margin-bottom: 20px; }
  .advantages ul.advantages__list {
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .advantages ul.advantages__list .advantages__item {
    margin-bottom: 40px; }
  .best-time ul.cards__list {
    flex-wrap: wrap;
    justify-content: center; }
  .best-time ul.cards__list .best-time__card {
    margin-bottom: 20px;
    margin-right: 10px; }
  .best-time ul.cards__list .best-time__card:last-child {
    margin-right: 0; }
  .best-time ul.cards__list .best-time__card:nth-child(2) {
    backdrop-filter: blur(100px);
    background: linear-gradient(270.29deg, #FFFFFF -41.11%, rgba(255, 255, 255, 0) 33.6%), linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%); }
  .best-time ul.cards__list .best-time__card:nth-child(3) {
    background: linear-gradient(174.26deg, #FFFFFF -34.92%, rgba(255, 255, 255, 0) 96.78%), #C4C4C4; }
  .trademark .trademark-content #diplomas, .trademark .diplomas #diplomas__body {
    margin-right: 0;
    width: 100%;
    max-width: 100%; }
  .trademark .trademark-content .diplomas__list {
    display: flex;
    justify-content: center; }
  .trademark .trademark-content .diplomas__list .diplom {
    max-width: 35%; }
  .trademark .trademark-content #trademark__description {
    border-radius: 80px;
    margin: 0 auto;
    padding-top: 37%;
    z-index: -2;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
    max-width: 100%;
    width: 74%;
    transform: translate(0px, -428px);
    top: 87px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0px); } }

@media all and (min-width: 769px) {
  navbar ul.menu {
    display: flex !important; } }

@media all and (max-width: 768px) {
  #feedback input.input {
    width: 90%; }
  #docs {
    z-index: -2;
    top: 30px;
    right: 50%;
    left: 50%; }
  #conditions {
    margin-bottom: 100px; }
  .bg-elements .cofe {
    top: -300px;
    right: 50%;
    left: 50%;
    transform: translate(9%, 0px); }
  .five-steps .five-steps__body .steps__ul {
    margin-bottom: 15px; }
  .five-steps .description-block {
    display: none; }
  #trademark > div > div.trademark-content > div.diplomas > div.bg__block {
    height: 90%;
    top: -6%; }
  .trademark .trademark-content .diplomas__list #diplom {
    max-width: 50%;
    margin-right: 10px; }
  .best-time .title {
    margin-bottom: 50px; }
  .best-time ul.cards__list {
    margin-bottom: 30px; }
  .advantages ul.advantages__list .advantages__item {
    padding: 10px; }
  .concept {
    overflow: hidden; }
  .in-every-instagram {
    margin-bottom: 30px; }
  .in-every-instagram .insta-red-bg__white-heart-center {
    display: none; }
  .concept {
    margin-top: -50px; }
    .concept .title {
      margin-bottom: 20px; }
  .mobile-burger__icon {
    display: block; }
  navbar ul.menu {
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.05);
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 40px;
    z-index: 10;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    width: 80%;
    justify-content: space-between;
    display: none;
    z-index: 100; }
    navbar ul.menu li {
      border-bottom: 1px black solid;
      width: 80%; }
    navbar ul.menu .xIcon {
      display: block;
      border-bottom: none;
      right: 0;
      position: absolute;
      width: 40px; }
  .first-block .text-part {
    margin: 0 auto;
    text-align: center; }
  .title {
    font-size: 33px;
    line-height: 100%;
    width: 100%; }
  .subtitle {
    line-height: 23px;
    width: 100%;
    font-size: 20px; }
  .first-block .text-part {
    min-width: 100%;
    max-width: 100%; } }

@media all and (max-width: 460px) {
  #conditions {
    max-width: 100%;
    overflow: hidden; }
  #conditions .container {
    padding: 0 20px; }
  .advantages ul.advantages__list .advantages__item:nth-child(1),
  .advantages ul.advantages__list .advantages__item:nth-child(3) {
    margin-right: auto; }
  .advantages ul.advantages__list .advantages__item:nth-child(2),
  .advantages ul.advantages__list .advantages__item:nth-child(4) {
    margin-left: auto;
    text-align: right; }
    .advantages ul.advantages__list .advantages__item:nth-child(2) hr, .advantages ul.advantages__list .advantages__item:nth-child(2) .advantages__item-img,
    .advantages ul.advantages__list .advantages__item:nth-child(4) hr,
    .advantages ul.advantages__list .advantages__item:nth-child(4) .advantages__item-img {
      margin-left: auto; } }

@media all and (max-width: 425px) {
  .btn__get-doc {
    padding: 30px; } }

.trademark {
  margin-bottom: 100px; }
  .trademark .title {
    margin-bottom: 70px;
    max-width: 600px; }
  .trademark .diplomas {
    max-width: 870px; }
    .trademark .diplomas .diplomas__body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 40px; }
  .trademark .trademark-content {
    display: flex;
    position: relative;
    align-items: center; }
    .trademark .trademark-content .bg__block {
      content: '';
      height: 301px;
      width: 871px;
      border-radius: 40px;
      background: #FFFFFF;
      box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 50%;
      z-index: -1;
      transform: translate(-10%, -50%); }
    .trademark .trademark-content .diplomas {
      margin-right: 60px; }
      .trademark .trademark-content .diplomas hr {
        width: 80%;
        margin: 0 auto;
        background: #B7B6B6; }
    .trademark .trademark-content .diplomas__list {
      display: flex;
      margin-bottom: 60px; }
      .trademark .trademark-content .diplomas__list .diplom:last-child {
        margin-right: 0; }
      .trademark .trademark-content .diplomas__list .diplom {
        margin-right: 80px; }
      .trademark .trademark-content .diplomas__list .diplom {
        display: inline-block; }
    .trademark .trademark-content .trademark__description {
      border-radius: 80px 80px 80px 0;
      background: url("../src/imgs/starBG.png");
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'roboto regular';
      font-size: 18px;
      padding: 30px;
      max-width: 300px;
      box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.09);
      height: 260px;
      flex-direction: column; }
