.advantages
  padding: 70px 0
  background: #E8E8E8
  .title
    text-align: center
    margin: 0 auto
    max-width: 940px
    margin-bottom: 70px
  ul.advantages__list
    margin: 0 auto
    max-width: 1130px
    list-style: none
    display: flex
    justify-content: space-between
    align-items: flex-start
    .advantages__item
      display: flex
      justify-content: flex-start
      flex-direction: column
      max-width: 190px
      .advantages__item-img
        filter: drop-shadow(0px 0px 67px rgba(255, 255, 255, 0.64))
        height: 120px
        width: 120px
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        margin-bottom: 35px
      .title-card
        margin-bottom: 16px
      hr
        background: white
        margin-bottom: 16px
        width: 70px
        height: 2px
        border: none
      .advantages__item-descriptions
        font-size: 14px
        font-family: "roboto regular"
        line-height: 16px
        color: rgba(0, 0, 0, 0.7)
