@keyframes circle
  0%
    opacity: 0
  50%
    opacity: 1
  90%
    opacity: 0
  100%
    opacity: 0
@keyframes transformScale15
  70%
    opacity: 0
  100%
    transform: scale(2)
@keyframes transformScale13
  85%
    opacity: 0
  100%
    transform: scale(1.7)
@keyframes transformScale11
  100%
    transform: scale(1.3)

@keyframes cofeAnimation
  0%
    transform: rotate(0)
  72%
    transform: rotate(0deg)
  76%
    transform: rotate(5deg)
  80%
    transform: rotate(-3deg)
  84%
    transform: rotate(5deg)
  88%
    transform: rotate(-3deg)
  92%
    transform: rotate(0)
  100%
    transform: rotate(0)
