.best-time
  padding-top: 110px
  position: relative
  padding-bottom: 100px
  margin-bottom: 150px
  ul.cards__list
    list-style: none
    max-width: 1100px
    justify-content: space-between
    display: flex
    justify-content: space-between
    margin-bottom: 77px
    .best-time__card
      height: 414px
      padding: 36px
      display: flex
      flex-direction: column
      justify-content: flex-start
      width: 331px
      background: linear-gradient(174.26deg, #FFFFFF -34.92%, rgba(255, 255, 255, 0) 96.78%), #C4C4C4
      border: 1px solid rgba(0, 0, 0, 0.4)
      border-radius: 20px
      box-sizing: border-box
      .best-time__card-img
        border-radius: 20px
        overflow: hidden
        display: flex
        justify-content: center
        align-items: center
        height: 99px
        width: 99px
        margin-bottom: 57px
      .best-time__card-title
        margin-bottom: 44px
        color: black
        font-family: 'roboto bold'
        font-size: 18px
        line-height: 21px
      .best-time__card-description
        font-size: 18px
        color: black
        font-family: 'roboto regular'
        line-height: 21px
    .glass-blur__bg
      background: linear-gradient(270.29deg, #FFFFFF -41.11%, rgba(255, 255, 255, 0) 33.6%), linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
      border: 1px solid rgba(0, 0, 0, 0.4)
      box-sizing: border-box
      backdrop-filter: blur(100px)
      border-radius: 20px
  .title
    margin-bottom: 180px
    text-align: right
    span
      color: white
      -webkit-text-stroke-width: 1px
      -webkit-text-stroke-color: black
  .best-time-bg-element
    height: 721px
    width: 700px
    background: url("../src/imgs/big bg image lamp best-time.jpg")
    position: absolute
    background-size: cover
    background-position: center
    right: 0
    top: 335px
    border-radius: 20px 0 0 20px
    z-index: -1
  .motivation
    display: flex
    justify-content: flex-start
    flex-direction: column
    .description-block
      max-width: 560px
      margin-bottom: 29px
      opacity: 0.7

