.concept
  margin-top: 300px
  margin-bottom: 100px
  .concept-img
    background: url("../src/imgs/conceptImg.png")
    width: 100%
    height: 353px
    background-repeat: no-repeat
    background-size: cover
    margin-bottom: 35px
  .container
    .description-block
      max-width: 700px
      margin-bottom: 50px
  .marker-block:after
    content: ''
    height: 280px
    width: 280px
    background: url("../src/imgs/markerConcept.png")
    background-size: cover
    background-position: center
    position: absolute
    right: 0
    bottom: 0
    transform: translate(77%, 16px)
  .marker-block
    position: relative
    width: 65%
    background: black
    height: 9px
