.conditions
  position: relative
  margin-bottom: 220px
  .title
    text-align: center
    margin-bottom: 15px
  .conditions__content
    display: flex
    justify-content: center
    align-items: center
    .conditions__list-ul
      list-style: none
      .conditions__item:last-child
        margin-bottom: 0
      .conditions__item
        font-size: 22px
        max-width: 483px
        font-family: 'roboto regular'
        color: black
        margin-bottom: 11px
      .conditions__item.bold
        font-family: 'roboto bold'

.bg-element:nth-child(3)
  top: 330px
  right: -80px
.bg-element
  position: absolute
.bg-elements
  position: absolute
  .cofe
    width: 200px
    height: 200px
    top: -150px
    z-index: -2
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    .promo-circles
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
    img
      position: absolute
      top: 50%
      left: 30%
      animation: cofeAnimation 4s infinite
.promo-circles
  position: absolute
  height: 100%
  width: 100%
  .promo-circles__item
    top: 0
    bottom: 0
    right: 0
    left: 0
    height: 315px
    width: 315px
    border-radius: 50%
    position: absolute
    border: 1px black solid
    animation: circle 4s infinite
  .promo-circles__item:nth-child(3)
    transform: scale(0.6)
    animation: circle 4s infinite, transformScale11 4s infinite
  .promo-circles__item:nth-child(2)
    transform: scale(0.8)
    animation: circle 4s infinite, transformScale13 4s infinite
  .promo-circles__item:nth-child(1)
    animation: circle 4s infinite, transformScale15 4s infinite
    transform: scale(1)
