.contacts
  margin-bottom: 75px
  .title
    text-align: center
  .contacts__body
    max-width: 500px
    margin: 0 auto
    margin-bottom: 35px
    ul.contacts__ul
      list-style: none
      width: 100%
      justify-content: space-between
      li:last-child
        margin-bottom: 0
      li
        font-size: 18px
        width: 100%
        display: flex
        justify-content: space-between
        font-family: "roboto regular"
        color: black
        text-align: right
        span
          margin-bottom: 11px
          font-size: 26px
          font-family: "roboto bold"
          text-align: left
  hr
    max-width: 60%
    margin: 0 auto
