.btn__get-doc:hover
  background: black
  color: white
  box-shadow: none
.btn__get-doc
  padding: 30px 47px
  background: white
  border-radius: 12px
  text-transform: uppercase
  color: black
  max-height: 75px
  max-width: 303px
  font-family: 'roboto regular'
  font-size: 16px
  border: none
  border: 1px solid black
.btn__get-doc-shadow
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4)
  border: none

input.input
  max-width: 500px
  width: 100%
  padding: 15px 17px
  font-size: 16px
  color: black
  border-radius: 12px
  border: 1px #D2D2D7 solid
  margin-bottom: 40px
  outline-color: #64361e

.title
  color: black
  font-size: 70px
  line-height: 69px
  text-transform: uppercase
  font-family: 'roboto bold'
  margin-bottom: 50px

.subtitle
  color: black
  font-size: 36px
  line-height: 43px
  font-family: 'roboto regular'

.description-block
  color: black
  font-size: 18px
  line-height: 21px
  font-family: 'roboto regular'

.title-card
  font-size: 20px
  color: black
  font-family: "roboto bold"
  line-height: 23px
  text-transform: uppercase

.link
  width: 100%
  display: flex
  justify-content: flex-end
  a:hover
    opacity: 0.6
  a
    color: black
    font-size: 18px
    line-height: 21px
    font-family: 'roboto regular'

