.feedback
  margin-bottom: 100px
  .title
    font-size: 36px
    font-family: "roboto regular"
    margin-bottom: -10px
    text-align: center
  .subtitle
    font-size: 16px
    opacity: 0.5
    line-height: 19px
    text-align: center
    margin-bottom: 28px

  .feedback-form
    display: flex
    justify-content: center
    flex-direction: column
    margin: 0 auto
    align-items: center

