.five-steps
  position: relative
  margin-bottom: 230px
  .title
    text-align: center
  .description-block
    padding: 40px
    display: flex
    justify-content: flex-start
    flex-direction: column
    border-radius: 20px
    border: 1px solid black
    width: 230px
    background: white
    .arrow-group
      margin-bottom: 40px
    .description, .title-card
      max-width: 163px
      text-transform: uppercase
      opacity: 0.7
    .title-card
      margin-bottom: 33px
      max-width: 163px
      color: black
      opacity: 1
    .title-card
      line-height: 100%
      max-width: 186px
    .description
      font-size: 18px
      font-family: "roboto regular"
  .steps
    display: flex
    justify-content: space-between
    flex-direction: column
  .five-steps__body
    display: flex
    justify-content: space-between
    max-width: 900px
    margin: 0 auto
    .steps__ul
      list-style: none
      display: flex
      flex-direction: column
      justify-content: flex-start
      li:last-child
        margin-bottom: 0
      li:first-child
        position: relative
      li:first-child:after
        content: ''
        right: 0
        top: 40px
        height: 338px
        width: 187px
        background: url("../src/imgs/arrowToSendDoc5step.png")
        background-repeat: no-repeat
        background-size: contain
        background-position: center
        position: absolute
      li
        color: black
        font-size: 22px
        font-family: "roboto regular"
        text-align: left
        margin-bottom: 20px
        max-width: 465px
        span
          font-family: "roboto bold"
      .step__last
        color: #259B31
        font-family: "roboto bold"
  .marker
    position: absolute
  .marker1
    z-index: -1
    left: 0%
    bottom: -25%
    transform: translate(32.3333px, 219.1px)
  .marker2
    z-index: -1
    right: 20%
    bottom: -25%
    top: 38px
    filter: blur(2px)
    transform: translate(32.3333px, 219.1px)
