navbar ul.menu
  display: flex
  list-style: none
  justify-content: space-between
  padding: 50px 0
  a:hover
    opacity: 0.4
  .menu__item, a
    font-family: 'roboto regular'
    color: black
    font-size: 18px
    text-decoration: none

header
  .bgfb
    height: 100vh
    top: 0
    width: 100%
    content: ''
    background: url("../src/imgs/bgfb.jpg")
    position: absolute
    background-position-y: -100px
    top: 0
    z-index: -2
    background-size: cover
.first-block
  position: relative
  .text-part
    max-width: 50%
    min-width: 500px
    display: flex
    justify-content: flex-start
    flex-direction: column
    .title
      margin-top: 40px
    .subtitle
      margin-bottom: 42px
  .hand
    position: absolute
    right: 30px
    top: -50px
    z-index: -1


.first-block:after
  background: url("../src/imgs/between blocksFB.png")
  content: ''
  width: 100%
  background-size: cover
  bottom: -525px
  height: 510px
  position: absolute
  z-index: -1

.mobile-burger__icon
  display: none
  transform: scale(-1,1)
  margin-right: 0
  margin-left: auto
  padding: 20px 0
