.in-every-instagram
  .title
    margin-bottom: 126px
  .subtitle
    max-width: 700px
    text-align: right
    margin-right: 0
    margin-left: auto
    margin-bottom: 100px
  span
    color: #F2B1C1
  #slider-inst
    max-width: 1200px
    margin-right: 0
    margin-left: auto
    margin-bottom: 50px
  .slider-item
    width: 280px
    padding-bottom: 25px
    outline: none
    .slider-item__amount-likes
      box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.07)
      padding: 4px
      display: inline-block
      font-family: "roboto regular"
      font-size: 14px
      background: white
    .block-wrapper:hover .slider-item__hover-block
      opacity: 1
      cursor: pointer
    .block-wrapper
      max-width: 280px
      margin: 0 auto
      text-align: center
      position: relative
      .slider-item__hover-block
        a
          outline: none
        img
          z-index: 10
        img:hover
          opacity: 0.7
          transform: scale(0.9)
        width: 100%
        height: 100%
        background: rgba(0,0,0,0.5)
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        opacity: 0
    .slider-item__photo
      margin-bottom: 13px
      height: 227px
      width: 280px
      background-position: center
      background-repeat: no-repeat
      background-size: cover
    .photo6
      background: url("../src/imgs/photo slider/6.png")
    .photo5
      background: url("../src/imgs/photo slider/5.png")
    .photo4
      background: url("../src/imgs/photo slider/4.png")
    .photo3
      background: url("../src/imgs/photo slider/3.png")
    .photo2
      background: url("../src/imgs/photo slider/2.png")
    .photo1
      background: url("../src/imgs/photo slider/1.jpg")
  .info-block
    max-width: 550px
    text-align: right
    margin-right: 0
    margin-left: auto
    margin-bottom: 12px
    font-family: 'roboto regular'
    font-size: 18px
    color: black
.in-every-instagram
  position: relative
  margin-bottom: 270px
  .slick-arrow:hover
    background: url("../src/imgs/photo slider/arrowHover.png")
  .slick-arrow
    z-index: 10
  .slick-next:before
    content: ''
  .slick-next
    height: 49px
    width: 30px
    background: url("../src/imgs/photo slider/arrowNextSlider.png")
    background-size: cover
    background-repeat: no-repeat
    content: ''
  .slick-prev:before
    content: ''
  .slick-prev
    height: 49px
    width: 30px
    background: url("../src/imgs/photo slider/arrowNextSlider.png")
    transform: rotate(180deg)
    background-size: cover
    background-repeat: no-repeat
    content: ''
  .insta-red-bg__white-heart-center
    position: absolute
    height: 733px
    width: 703px
    background: url("../src/imgs/instaBigImg.png")
    background-size: cover
    top: 280px
    left: -80px
    background-position: center
    border-radius: 0 20px 20px 0
    z-index: -1
