*
  margin: 0
  padding: 0

.container
  max-width: 1299px
  margin: 0 auto

body
  max-width: 100%
  overflow-x: hidden
  overflow-y: unset

//@import "elements"
//@import "fonts"
//
//@import "header"
//@import "concept"
//@import "inEveryInst"
//@import "advantages"
//@import "bestTime"
//@import "contacts"
//@import "feedback"
//
//@import "media"

.xIcon
  display: none

.greyBlock
  height: 100vh
  width: 100vw
  opacity: 0.5
  content: ''
  background: black
  position: fixed
  z-index: 100
  top: 0

.hide
  display: none !important
