@media all and (max-width: 1440px)
  //#concept, #in-every-instagram, #advantages, #best-time, #trademark, #five-steps, #conditions, #contacts, #feedback
  //  max-width: 100%
  //  overflow-x: hidden
  //  overflow-y: unset
  //  box-sizing: border-box
  .best-time
    padding-top: 50px
    margin-bottom: 150px
    padding-bottom: 20px
  .in-every-instagram #slider-inst
    width: 95%
    margin: 0 auto
  .concept
    margin-top: 0
  header .bgfb
    height: 190vh
    min-height: 1500px
  .first-block .hand
    right: 00px
    right: -400px
  .container
    padding: 0 20px
  header
    overflow: hidden
    padding-bottom: 200px
    position: relative

  .best-time ul.cards__list .best-time__card
    width: 300px
  #trademark > div > div.trademark-content > div.diplomas > div.bg__block
    width: 66%
  .trademark-content .diplomas .diplomas__body img
    width: 100%
@media all and (max-width: 1024px)
  .feedback .title
    margin-bottom: 20px
  .conditions .conditions__content
    flex-direction: column
    div:nth-child(1)
      order: 1
  .five-steps .marker1
    display: none
  .five-steps
    margin-top: 300px
    margin-bottom: 100px
  .five-steps .description-block
    margin-right: 10px
  #trademark > div > div.trademark-content > div.diplomas > div.bg__block
    left: 50%
    right: 50%
    transform: translate(-50%, 0px)
    width: 100%
    top: 0
  .trademark .trademark-content
    flex-wrap: wrap
  .best-time
    padding-top: 50px
    margin-bottom: 100px
    padding-bottom: 20px
  .first-block .hand
    display: none
  .in-every-instagram .info-block,  .in-every-instagram .subtitle
    background: white
  .in-every-instagram .title
    margin-bottom: 20px
  .advantages ul.advantages__list
    flex-wrap: wrap
    justify-content: space-evenly
  .advantages ul.advantages__list .advantages__item
    margin-bottom: 40px
  .best-time ul.cards__list
    flex-wrap: wrap
    justify-content: center
  .best-time ul.cards__list .best-time__card
    margin-bottom: 20px
    margin-right: 10px
  .best-time ul.cards__list .best-time__card:last-child
    margin-right: 0
  .best-time ul.cards__list .best-time__card:nth-child(2)
    backdrop-filter: blur(100px)
    background: linear-gradient(270.29deg, #FFFFFF -41.11%, rgba(255, 255, 255, 0) 33.6%), linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
  .best-time ul.cards__list .best-time__card:nth-child(3)
    background: linear-gradient(174.26deg, #FFFFFF -34.92%, rgba(255, 255, 255, 0) 96.78%), #C4C4C4
  .trademark .trademark-content #diplomas, .trademark .diplomas #diplomas__body
    margin-right: 0
    width: 100%
    max-width: 100%
  .trademark .trademark-content .diplomas__list
    display: flex
    justify-content: center
  .trademark .trademark-content .diplomas__list .diplom
    max-width: 35%
  .trademark .trademark-content #trademark__description
    border-radius: 80px
    margin: 0 auto
    padding-top: 37%
    z-index: -2
    display: flex
    justify-content: flex-end
    padding-bottom: 40px
    max-width: 100%
    width: 74%
    transform: translate(0px, -428px)

    top: 87px
    position: absolute
    left: 50%
    right: 50%
    transform: translate(-50%, 0px)
@media all and (min-width: 769px)
  navbar ul.menu
    display: flex !important
@media all and (max-width: 768px)
  #feedback input.input
    width: 90%
  #docs
    z-index: -2
    top: 30px
    right: 50%
    left: 50%
  #conditions
    margin-bottom: 100px
  .bg-elements .cofe
    top: -300px
    right: 50%
    left: 50%
    transform: translate(9%, 0px)
  .five-steps .five-steps__body .steps__ul
    margin-bottom: 15px
  .five-steps .description-block
    display: none
  #trademark > div > div.trademark-content > div.diplomas > div.bg__block
    height: 90%
    top: -6%
  .trademark .trademark-content .diplomas__list #diplom
    max-width: 50%
    margin-right: 10px
  .best-time .title
    margin-bottom: 50px
  .best-time ul.cards__list
    margin-bottom: 30px
  .advantages ul.advantages__list .advantages__item
    padding: 10px
  .concept
    overflow: hidden
  .in-every-instagram
    margin-bottom: 30px
  .in-every-instagram .insta-red-bg__white-heart-center
    display: none
  .concept
    margin-top: -50px
    .title
      margin-bottom: 20px
  .mobile-burger__icon
    display: block
  navbar ul.menu
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.05)
    background: white
    position: fixed
    top: 0
    left: 0
    padding: 20px 40px
    z-index: 10
    flex-direction: column
    height: 100vh
    box-sizing: border-box
    width: 80%
    justify-content: space-between
    display: none
    z-index: 100
    li
      border-bottom: 1px black solid
      width: 80%
    .xIcon
      display: block
      border-bottom: none
      right: 0
      position: absolute
      width: 40px
  .first-block .text-part
    margin: 0 auto
    text-align: center
  .title
    font-size: 33px
    line-height: 100%
    width: 100%
  .subtitle
    line-height: 23px
    width: 100%
    font-size: 20px
  .first-block .text-part
    min-width: 100%
    max-width: 100%

@media all and (max-width: 460px)
  #conditions
    max-width: 100%
    overflow: hidden
  #conditions .container
    padding: 0 20px
  .advantages ul.advantages__list .advantages__item:nth-child(1),
  .advantages ul.advantages__list .advantages__item:nth-child(3)
    margin-right: auto
  .advantages ul.advantages__list .advantages__item:nth-child(2),
  .advantages ul.advantages__list .advantages__item:nth-child(4)
    margin-left: auto
    text-align: right
    hr, .advantages__item-img
      margin-left: auto
@media all and (max-width: 425px)
  .btn__get-doc
    padding: 30px
