.trademark
  margin-bottom: 100px
  .title
    margin-bottom: 70px
    max-width: 600px
  .diplomas
    max-width: 870px
    .diplomas__body
      display: flex
      justify-content: center
      flex-direction: column
      margin-right: 40px
  .trademark-content
    display: flex
    position: relative
    align-items: center
    .bg__block
      content: ''
      height: 301px
      width: 871px
      border-radius: 40px
      background: #FFFFFF
      box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.1)
      position: absolute
      top: 50%
      z-index: -1
      transform: translate(-10%, -50%)
    .diplomas
      margin-right: 60px
      hr
        width: 80%
        margin: 0 auto
        background: #B7B6B6
    .diplomas__list
      display: flex
      margin-bottom: 60px
      .diplom:last-child
        margin-right: 0
      .diplom
        margin-right: 80px
      .diplom
        display: inline-block
    .trademark__description
      border-radius: 80px 80px 80px 0
      background: url("../src/imgs/starBG.png")
      background-size: 70%
      background-repeat: no-repeat
      background-position: center
      display: flex
      justify-content: center
      align-items: center
      font-family: 'roboto regular'
      font-size: 18px
      padding: 30px
      max-width: 300px
      box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.09)
      height: 260px
      flex-direction: column
